@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.links a:last-child {
  border: none;
}
input::placeholder {
  color: rgba(100, 99, 99, 0.939);
}
